.block--gallery {
    &--grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;

        @include media-breakpoint-down(xl) {
            grid-template-columns: 1fr 1fr;
        }
    }

    &--cta {
        grid-column-start: 3;
        grid-column-end: -1;
        grid-row-start: 1;
        grid-row-end: 3;
        align-items: center;
        justify-content: center;
        padding: 3rem;

        @include media-breakpoint-down(xl) {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: auto;
            grid-row-end: auto;
            min-height: 500px;
        }

        @include media-breakpoint-down(sm) {
            padding: 1rem;
        }

        p {
            margin-top: .5rem;
            margin-bottom: 0;
            color: $text-muted;

            @include media-breakpoint-down(sm) {
                font-size: .7rem;
            }
        }
    }

    &--btn--instagram {
        position: absolute;
        top: -40px;
        right: -2rem;
        transform: rotate(13deg);

        @include media-breakpoint-down(xl) {
            right: 5rem;
            top: -80px;
            text-wrap: nowrap;
        }
        
        @include media-breakpoint-down(sm) {
            right: 1rem;
        }
    }
}