.block--image--with--text {
    $this: &;

    &--primary {

        #{$this}--content {
            padding-top: 3rem;
            padding-bottom: 12rem;

            p {
                margin: 3rem 0;
            }

            p,
            .btn {
                margin-left: 13rem;
            }

            @include media-breakpoint-down(xl) {
                p,
                .btn {
                    margin-left: 5rem;
                }
            }

            @include media-breakpoint-down(md) {
                padding-bottom: 0;

                p,
                .btn {
                    margin-left: 1.5rem;
                }
            }
        }

        @include media-breakpoint-down(md) {
            .image--background {
                position: relative;
                right: -3rem;
                top: -1rem;
            }
        }
    }

    &--secondary {
        .order-0 {
            #{$this}--content {
                padding-right: 6rem;

                @include media-breakpoint-down(xl) {
                    padding-right: 2rem;
                }
    
                @include media-breakpoint-down(md) {
                    padding-right: 0;
                }
            }
        }

        .order-1 {
            #{$this}--content {
                padding-left: 6rem;

                @include media-breakpoint-down(xl) {
                    padding-left: 2rem;
                }
    
                @include media-breakpoint-down(md) {
                    padding-left: 0;
                }
            }
        }

        #{$this}--content {
            padding-top: 4rem;
            padding-bottom: 4rem;

            h2 {
                border-bottom: 1px solid $dark;
                padding-bottom: 2.5rem;
                margin-bottom: 2.5rem;
                font-size: clamp(2rem, 4.5vw, 3rem);
            }

            .btn {
                margin-top: 2rem;
            }
        }
    }
}