.block--jumbotron {
    $this: &;

    position: relative;

    @include media-breakpoint-down(xl) {
        padding-top: 5rem;
        padding-bottom: 4rem;
    }

    > * {
        position: relative;
        z-index: 1000;
    }

    &--primary  {
        background-color: $black;
        color: $white;
        padding: 12rem 0 8rem;
        overflow: hidden;

        &::before {
            content: " ";
            position: absolute;
            top: -500px;
            left: -500px;
            height: calc(100% + 1000px);
            width: calc(100% + 1000px);
            z-index: 5;
            transform: rotate(50deg);
            
            @include gradient-x-three-colors($start-color: $primary, $mid-color: $black, $color-stop: 50%, $end-color: $purple);
        }
    }

    &--secondary {
        padding: 12rem 0 2rem;
        overflow: visible;

        #{$this}--content {
            padding-right: 12rem;

            @include media-breakpoint-down(lg) {
                padding-right: 0;
            }
        }
    }

    

    #{$this}--content {
        padding: 0 4rem;
        font-size: clamp(1.6rem, 4.5rem, 3vw);

        @include media-breakpoint-down(md) {
            padding: 0 2rem;
        }

        @include media-breakpoint-down(sm) {
            padding-inline: 1rem;
        }
    }
}