.block--jumbotron--with--blocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $white;
    min-height: calc(100dvh - 3rem);
    border-radius: 1rem;

    @include media-breakpoint-down(md) {
        border-radius: 0;
    }

    &--top--block {
        position: relative;
        text-align: center;
        overflow: hidden;
        padding: 5rem 15rem;
        border: 1px solid $gray-900;
        
        @include media-breakpoint-down(xl) {
            padding: 5rem 3rem;
        }

        @include media-breakpoint-down(md) {
            padding: 2rem 1.5rem;
        }

        > * {
            position: relative;
            z-index: 100;
        }

        &::before,
        &::after {
            display: block;
            position: absolute;
            content: " ";
            top: 0;
        }

        &::before {
            left: 0;
            height: 100%;
            width: 80%;

            @include gradient-y($start-color: $purple, $end-color: $primary);
        }

        &::after {
            background-color: $black;
            right: -400px;
            top: -200px;
            height: calc(100% + 400px);
            width: calc(50% + 400px);
            transform: rotate(10deg);
        }
    }

    &--bottom--left {
        padding: 4rem;
        background-color: $gray-900;

        @include media-breakpoint-down(md) {
            padding: 1.5rem;
        }
    }
}