@import "./hero-block";
@import "./block-header-offset";
@import "./image-with-links-block";
@import "./image-with-text-block";
@import "./jumbotron-block";
@import "./jumbotron-with-blocks";
@import "./gallery-block";
@import "./numbers-block";
@import "./block-text-with-list";
@import "./block-projects-gallery";
@import "./cta-card-block";

.block {
    margin-bottom: 6rem;

    @include media-breakpoint-down(lg) {
        margin-bottom: 3rem;
    }

    &--negative--margin {
        position: relative;
        margin-top: -12rem !important;
        z-index: -100;
    }
}