@font-face {
    font-family: 'Borna';
    src: url('/fonts/Borna-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Borna';
    src: url('/fonts/Borna-Medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Borna';
    src: url('/fonts/Borna-SemiBold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'Borna';
    src: url('/fonts/Borna-Bold.woff2') format('woff2');
    font-weight: 700;
}