.form {
    &-control {
        border-bottom: 1px solid $gray-800;
    }

    &-label {
        color: $body-color;
    }
}

.bg-black {
    .form {
        &-label {
            color: $white;
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill::first-line {
    transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
    background-color: transparent !important;
    font-family: $font-family-sans-serif !important;
}