.site {
    $this: &;

    display: flex;
    flex-direction: column;
    min-height: 100dvh;

    &--header,
    &--content,
    &--footer {
        padding: 0 1.5rem;
        max-width: 1984px;
        margin: 0 auto;
        width: 100%;

        @include media-breakpoint-down(md) {
            padding: 0 0;
        }
    }

    &--header {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        top: 1.5rem;
        z-index: 100;
    }

    &--navbar {
        position: relative;
        padding: 1rem 0;
        border-bottom: 1px solid $gray-500;

        &--left,
        &--right {
            flex: 1;
        }

        .nav {
            --#{$prefix}nav-link-padding-x: 0;
            --#{$prefix}nav-link-padding-y: 0;
            --#{$prefix}nav-link-font-weight: #{$nav-link-font-weight};
            --#{$prefix}nav-link-color: #{$light};
            --#{$prefix}nav-link-hover-color: #fff;
            --#{$prefix}nav-link-disabled-color: #{$nav-link-disabled-color};

            &-link {
                font-size: .9rem;

                &.active {
                    --#{$prefix}nav-link-color: #{$white};
                }
            }
        }
    }

    &--header--dark {
        #{$this}--navbar {
            .nav {
                --#{$prefix}nav-link-color: #{$gray-300};
                --#{$prefix}nav-link-hover-color: #{$dark};

                &-link {
                    &.active {
                        --#{$prefix}nav-link-color: #{$dark};
                    }
                }

                .btn-outline-white {
                    --#{$prefix}btn-color: #{$dark};
                    --#{$prefix}border-color: #{$dark};
                }
            }
        }
    }

    &--content {
        overflow: clip;
        flex-grow: 1;

        .block:not(:first-child) {
            margin-top: 1.5rem;
        }
    }

    &--link {
        text-decoration: none;
        text-transform: uppercase;
        font-size: .9rem;
        font-weight: 400;
    }

    &--footer {
        padding-block-end: 3rem;

        a:not(.btn) {
            color: var(--#{$prefix}body-color);
            text-decoration: none;
        }

        .btn {
            max-width: 350px;
            margin: 0 auto;
        }

        hr {
            opacity: 1;
            margin: 3rem 0;
        }

        span {
            a {
                border-bottom: 1px dashed $black;
            }
        }
    }
}

.page {
    &--offerte {
        --#{$prefix}secondary-color: #{$gray-600};
        padding-top: 10rem;
        padding-bottom: 6rem;

        h1 {
            font-size: clamp(2rem, 4.5vw, 4rem)
        }

        h6 {
            color: $primary;
            margin-bottom: 1.5rem;
        }

        p {
            margin: 3rem 0 4rem;
        }
    }
}