$black:                     #000;
$primary:                   #FF6701;
$light:                     #d7d5ca;
$body-bg:                   #fff;
$white:                     #fff;

$gray-100:                  #dcdcdc;
$gray-200:                  #c5c5c5;
$gray-300:                  #aeaeae;
$gray-400:                  #979797;
$gray-500:                  #808080;
$gray-600:                  #686868;
$gray-700:                  #515151;
$gray-800:                  #3a3a3a;
$gray-900:                  #232323;

$text-muted:                $gray-600;

$font-family-sans-serif:    'Borna';

$font-size-root:            1.2rem;
$font-size-base:            1.1rem;

$h1-font-size:              $font-size-base * 4.5;
$h2-font-size:              $font-size-base * 4;
$h3-font-size:              $font-size-base * 3.5;
$h4-font-size:              $font-size-base * 3;
$h5-font-size:              $font-size-base * 2.5;
$h6-font-size:              1rem;

$line-height-base:          1;

$headings-line-height:      .9;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1498px
);

$accordion-color:                       $black;
$accordion-border-width:                0;
$accordion-border-radius:               0;
$accordion-inner-border-radius:         0;

$accordion-button-active-bg:            transparent;
$accordion-button-active-color:         transparent;

$accordion-button-focus-border-color:   transparent;
$accordion-button-focus-box-shadow:     none;

$accordion-transition:                  none;
$accordion-icon-transition:             none;

$input-padding-y:                   1rem;
$input-padding-x:                   0;

$input-font-size:                   1.1rem;
$input-font-size-lg:                1.1rem;

$input-bg:                          transparent;
$input-focus-bg:                    transparent;

$input-color:                       $white;

$input-border-width:                0;

$input-border-radius:               0;
$input-border-radius-sm:            0;
$input-border-radius-lg:            0;

$input-placeholder-color:           $gray-700;

$input-focus-box-shadow:            none;